@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
body * {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}

.code-container {
  height: calc(100vh - 32px) !important;
}

.files-container {
  height: calc(100% - 27px);
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-xl;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-200;
}

.dark {
  ::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-600 rounded-xl;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
  }
}
